# Dependencies
node_modules/
*/node_modules/

# Build directories
/client/build/
/client/dist/

# Environment variables
.env
.env.*
*/.env
*/.env.*

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store
Thumbs.db

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Game results
/server/game_results/*.json